// fonte
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$fonte-roboto: 'Roboto', sans-serif;

// cores
$cor-primaria: #5800FF;
$cor-secundaria: #0096FF;
$cor-terciaria: #00D7FF;
$cor-quaternaria: #72FFFF;

// tamanho das fontes
$tamanho-texto: 3rem;

// funcoes
@mixin flexCentralizada {
    display: flex;
    align-items: center;
    justify-content: center;
}